@model HastyRetreat.Models.BeeHive

@{
    ViewBag.Title = "Details";
    ViewBag.MainImage = "hive.png";
}

<h2>Details</h2>
<div id="images" class="container">
    <div class="row">
        <div class="col-sm-12">
            <img src="~/Content/Images/@ViewBag.MainImage" class="mainImage" alt="Picture of a hive" />
        </div>
    </div>
</div>
<div>
    <h4>BeeHive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStarted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStarted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
